<h1> Stuping Coaching </h1>

<div>
<%=@question %>
</div>

<div class="bg-warning">
<%=@answer%>
</div>

<div>
<%= link_to "Ask Page", ask_path %>
</div>

<%# possibilité d'afficher réponse @answer
si question = 1
<p> slly </p>

si question =2
<p>go back to work</p>
 %>
